.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Vertically centers the container content */
    margin: 0 auto; /* Centers the container horizontally */
  }
  
  mat-toolbar {
    width: 100%;
    margin-bottom: 10px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .form-container {
    max-width: 400px; /* Sets max-width for form */
    width: 100%; /* Ensures form takes up full width within max-width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers form fields horizontally */
    margin: 0 auto; /* Centers form within container */
  }
  
  button {
    margin: 10px 0;
  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    margin: 20px 0;
  }
  